body {
    background-color: rgb(236, 250, 252);
    /* display: flex; */
    text-align: center;
}


h1 {
    
    color: rgb(2, 39, 84);
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;

    margin: 0 auto;
    text-align: center;
    margin-top: 145px;
}

#container {
    color: rgb(2, 39, 84);
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    border: 1px solid  rgb(236, 250, 252);
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
   
    
    margin: 0 auto;
    text-align: center;
    /* display: block; */
    /* margin-left: 50%;
    margin-right: 50%; */
    width: 60%;
    margin-top: 30px;
}

img {
    width: 150px; 
    height: auto; 
    margin: 50px; 
    margin-top: 5px;
    /* display: block; */
  }

input{
    /* width: fit-content;
    aspect-ratio: 3;
    padding: 3px; */
}

  #buttonInput{
      background-color: rgb(17, 89, 153);
      border: 2px;
      border-color: rgb(17, 89, 153);
      font-family: 'Courier New', Courier, monospace;
      color: aliceblue;
      font-size: 100%;

  }

  #textInput{
      border:none;
      font-family: 'Courier New', Courier, monospace ;
      font-size: 100%;

  }

  #userInput {
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

#text {
    width: 87%;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: monospace;
    font-size: 17px;
}

#buttonInput {
    margin-left: 5px;
    padding: 5px;
    font-family: monospace;
    font-size: 17px;
}

.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #009688;
    padding: 10px;
    border-radius: 2px;
}

/* .botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
} */

.botText{
    background-color: #EF5350;
    padding: 10px;
    border-radius: 2px;

    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}

#tidbit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}

#chatbot {
    max-height: 300px;
}

    
    