body {
    background-color: rgb(236, 250, 252);
    /* display: flex; */
    text-align: center;
}


h1 {
    
    color: rgb(2, 39, 84);
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;

    margin: 0 auto;
    text-align: center;
    margin-top: 145px;
}

#container {
    color: rgb(2, 39, 84);
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    border: 1px solid  rgb(236, 250, 252);
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
   
    
    margin: 0 auto;
    text-align: center;
    /* display: block; */
    /* margin-left: 50%;
    margin-right: 50%; */
    width: 60%;
    margin-top: 30px;
}

img {
    width: 150px; 
    height: auto; 
    margin: 50px; 
    margin-top: 5px;
    /* display: block; */
  }

input{
    /* width: fit-content;
    aspect-ratio: 3;
    padding: 3px; */
}

  #buttonInput{
      background-color: rgb(17, 89, 153);
      border: 2px;
      border-color: rgb(17, 89, 153);
      font-family: 'Courier New', Courier, monospace;
      color: aliceblue;
      font-size: 100%;

  }

  #textInput{
      border:none;
      font-family: 'Courier New', Courier, monospace ;
      font-size: 100%;

  }

  /* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  /* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
  }


    
    