body {
    background-color: rgb(236, 250, 252);
    /* display: flex; */
    text-align: center;
}


h1 {
    
    color: rgb(2, 39, 84);
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;

    margin: 0 auto;
    text-align: center;
    margin-top: 145px;
}

h2 {
    color: rgb(2, 39, 84);
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;

    margin: 2px;
    text-align: center;
    margin-top: 30px;
}


button {
    background-color: rgb(191, 225, 255);
      border: 10px;
      border-color: none;
      font-family: 'Courier New', Courier, monospace;
      color: aliceblue;
      font-size: 100%;
      border-radius: 25px;
      margin: 5px;

}

a{

    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(17, 89, 154);
    align-self: center;
    overflow: hidden;
    border-radius: 25px;
} 

li {
    float: left;
}

  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .active{
      background-color: rgb(28, 46, 77);
  }


  li a:hover{
    background-color: rgb(145, 159, 204);
}