body {
    background-color: rgb(236, 250, 252);
    /* display: flex; */
    text-align: center;
}


h1 {
    
    color: rgb(2, 39, 84);
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;

    margin: 0 auto;
    text-align: center;
    margin-top: 145px;
}
