<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </head>
    <body>
        <section>
            <nav>
              <ul>
                <li><a href="/resources">resources</a></li>
              </ul>
            </nav>
          </section>
        <h1>MedBot</h1>
        <div id="container">
            <div>
                <img src="/static/thermometer.png" alt="themometer">
            </div>

            <div>
                <div id="chatbox">
                    <p class="botText"><span>Here to assist your medical needs :)</span></p>
                </div>
                <div id="userInput">
                    <input id="textInput" type="text" name="msg" placeholder="Message">
                    <input id="buttonInput" type="submit" value="Send">
                </div>
            </div>

            <div>
                <img src="/static/heartbeat.png" alt="heartbeat">
            </div>

            
            <script src="main.js"/>
        </div>
    </body>
</html>