<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <!-- <script type="text/javascript" src="main.js"></script> -->
</head>

<body>

    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul> <br>


    <h1>MedBot</h1>

    <div id="container">

        <div>
            <img src="/static/thermometer.png" alt="themometer">
        </div>

        <div>
            <div id="chatbox">
                <p class="botText"><span>Here to assist your medical needs :)</span></p>
            </div>
            <div id="userInput">
                <input id="text" type="text" name="msg" placeholder="Message">
                <input id="buttonInput" type="submit" value="Send">
            </div>
        </div>

        <div>
            <img src="/static/heartbeat.png" alt="heartbeat">
        </div>

    </div>

</body>


<script>
    function getBotResponse() {
        var rawText = $("#text").val();
        var userHtml = '<div class="userText">' + rawText + '</div>';
        $("#text").val("");
        $("#chatbox").append(userHtml);
        document.getElementById('userInput').scrollIntoView({
            block: 'start',
            behavior: 'smooth'
        });
        $.get("/get", {
            msg: rawText
        }).done(function (data) {
            var botHtml = '<div class="botText">' + data + '</div>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({
                block: 'start',
                behavior: 'smooth'
            });
        });
    }
    $("#text").keypress(function (e) {
        if (e.which == 13) {
            getBotResponse();
        }
    });
    $("#buttonInput").click(function () {
        getBotResponse();
    })
</script>
</body>

</html>