<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style2.css">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </head>
    <body>
        <h1>Resources</h1>
    <div>
    <h2>Physical health</h2>
       <button> <a href="https://www.quebec.ca/en/health/finding-a-resource">Provincial health services</a> </button><br>
       <button> <a href="https://portal3.clicsante.ca/">Book an appointment</a> </button><br>
       <button> <a href="https://www.participaction.com/en-ca/">Benefits & Guidelines to improve physical health</a> </button><br>

       <h2>Mental health</h2>
       <button> <a href=""></a> </button>
       <button> <a href=""></a> </button>
       <button> <a href=""></a> </button>

        </div>
        </div>
    </body>
</html>