<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style2.css">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </head>
    <body>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#resources"  class="active">Resources</a></li>
          </ul> <br>
    
          
        <h1>Resources</h1>
    <div>
    <h2>Physical health</h2>
       <button> <a href="https://www.quebec.ca/en/health/finding-a-resource">Provincial health services</a> </button><br>
       <button> <a href="https://portal3.clicsante.ca/">Book an appointment</a> </button><br>
       <button> <a href="https://www.participaction.com/en-ca/">Benefits & Guidelines to improve physical health</a> </button><br>

       <h2>Mental health</h2>
       <button> <a href="https://www.hec.ca/en/students/support-resources/psychological-support/"> Psychological Support</a> </button> <br>
       <button> <a href="https://amiquebec.org/"> Importance of Mental health</a> </button> <br>
       <button> <a href="https://emoodtracker.com/">Mental Health Tracker</a> </button> <br>

        </div>
        </div>

        <div>
            <img src="/static/patient.png" alt="patient">
        </div>
    
    </body>
</html>